RewriteEngine On
RewriteBase /uniliga

# remove trailing slashes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+?)/$ /uniliga/$1 [NC,L,R]


# redirect Pages
## redirect team-list
RewriteRule ^turnier/(.+)/teams$ /uniliga/teams-list?tournament=$1 [NC,L,QSA]

## redirect elo-overview
RewriteRule ^turnier/(.+)/elo$ /uniliga/elo-overview?tournament=$1 [NC,L,QSA]

## redirect groups
RewriteRule ^turnier/(.+)/gruppe$ /uniliga/tournament-details?tournament=$1 [NC,L]
RewriteRule ^turnier/(.+)/gruppe/(.+)$ /uniliga/group-details?tournament=$1&group=$2 [NC,L,QSA]

## redirect Tournaments
RewriteRule ^turnier$ /uniliga/tournament-details [NC,L]
RewriteRule ^turnier/(.+)$ /uniliga/tournament-details?tournament=$1 [NC,L]

## redirect matchhistory
RewriteRule ^team/(.+)/matchhistory$ /uniliga/team-matchhistory?team=$1 [NC,L]

## redirect statistics
RewriteRule ^team/(.+)/stats$ /uniliga/team-statistics?team=$1 [NC,L]

## redirect teams
RewriteRule ^team$ /uniliga/team-details [NC,L]
RewriteRule ^team/(.+)$ /uniliga/team-details?team=$1 [NC,L,QSA]


# enable opening php files without .php ending
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^.]+)$ $1.php [NC,L]